
*{
  box-sizing: border-box;
  
}
body{
  background-color: #ECECEC;
  padding: 0;
  margin: 0;
  height: 100vh;
}

.parent-container{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 10fr;
  height: 100%;

}

.parent-container div{
  //border-style: solid;
  //border-color: black;
  //border-width: 2px;
}

.header{
  grid-column: 2 / 5;
  display: grid;
  grid-template-rows: 1fr 2fr;
  background: white;
  padding-top: .5rem;
}

.super-header{
  display: grid;
  grid-template-columns: 5fr 3fr;
}
.search-container{
  display: grid;
  align-items: center;
  padding: 0 2rem;
}
input[type=search] {
  border-radius: 20px;
  height: 2rem;
  background: #ececec;
}
.top-my-profile{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 3rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.top-my-profile div{
}
.top-pp-container{
  display: grid;
  justify-content: end;
}
.top-pp{
  background-color: pink;
  border-radius: 50px;
  width: 2.5rem;
  height: 2.5rem;
}
.top-p-name{
  font-weight: 900;
  font-size: 1.3rem;
}

.account-header{
  display: grid;
  grid-template-columns: 6fr 4fr;
}

.account-header p{
  margin: 0;
}

.account-header h4{
  margin: 0;
}

.butt-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: start;
}

.main-p{
  display: grid;
  grid-template-columns: 1fr 5fr;
  padding: .5rem;
  align-items: center;
}
.bottom-pp-container{
  display: grid;
  align-items: center;
  justify-content: center;
}
.bottom-pp{
  border-radius: 40px;
  background-color: pink;
  width: 3.5rem;
  height: 3.5rem;
}

p{
  font-weight: bold;
}
h4{
  font-size: 1.3rem;
  font-weight: bold;
}

.butt-container{
  align-items: center;
  margin-right: 3rem;
  justify-items: stretch;
}
button{
  height: 2rem;
  padding: 0 1rem;
  text-align: center;
  border-radius: 20px;
  background-color: #2691de;
  color: white;
  font-weight: bold;
  margin: 0 1rem;
}

.sidebar{
  grid-row: 1 /3;

  background-color: #2691de;
  color: white;
}

.sidebar-title{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem 0;
}

ul,li{
  list-style: none;
  padding: 0;
}

ul{
  margin: 2.5rem .5rem;
  font-weight: 600;
}

li{
  margin: 1rem .5rem;
  display: grid;
  grid-template-columns: 1fr 8fr;
  align-items: center;
}

.main-content{
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #ECECEC;
  padding: 1rem;
  gap: 1rem;
}

.projects-section{

  grid-column: 1 /2;
  grid-row: 1 / 3;
}
.projects-container{
  //margin: 1rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  align-items: center;
  justify-items: center;
  gap: 1.3rem;
  justify-content: space-evenly;

}

.project-card{
  height: 11rem;
  padding: 10px;
  background-color: white;
  
  border-left-style: solid;
  border-left-color: orange;
  border-left-width: 8px;
  border-radius: 10px;
}

.project-title{
  font-weight: bold;
}
.project-content{
  line-height: .9rem;
  font-size: .9rem;
}

.announcements-container{
  grid-column: 2 / 3;
  border-style: none;
  border-width: 0;
  margin-right: .5rem;
  align-content: stretch;

}
.ann-content-container{
  padding: .5rem;
  background-color: white;
  border-radius: 10px;
  height: 90%;
}

.ann{
  border-bottom-color: pink;
  font-size: .8rem;
  line-height: .8rem;
  padding: .5rem;
  margin: .5rem;
  border-bottom-style: solid;
  border-bottom-color: #ECECEC;
  border-bottom-width: 2px;
}
.ann-title{
  font-weight: bold;
  font-size: .9rem;
}

.trending-super-container{
  margin-right: .5rem;
}
.trending-container{
  grid-column: 2 / 4;
  padding: .5rem;
  background-color: white;
  border-radius: 10px;
  height: 90%;

}
.top-pp{
  place-self: center;
}
.trend-cont-container{
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: .3rem;
  font-size: .7rem;
  margin: .5rem;
  gap: .5rem;
}
.tc-title{
  font-weight: bold;
  font-size: .9rem;
}

.sec-title{
  font-weight: bold;
  margin: .5rem 0;
  font-size: 1.2rem;
}
