
*{
  box-sizing: border-box;
  
}

.parent-container{
  display: grid;
  grid-template-columns: 1fr 4fr;

}

.parent-container div{
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.header{
  grid-column: 2 / 5;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.super-header{
  display: grid;
  grid-template-columns: 5fr 3fr;
}
.search-container{
  display: grid;
  align-items: center;
  padding: 0 2rem;
}
input[type=search] {
  border-radius: 8px;
}
.top-my-profile{
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.top-pp-container{
  display: grid;
  align-items: center;
  justify-content: center;
}
.top-pp{
  background-color: pink;
  border-radius: 50px;
  width: 3rem;
  height: 3rem;
}
.top-p-name{
  display: grid;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 1rem;
}

.account-header{
  display: grid;
  grid-template-columns: 5fr 3fr;
}

.account-header p{
  margin: 0;
}

.account-header h4{
  margin: 0;
}

.butt-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.main-p{
  display: grid;
  grid-template-columns: 1fr 5fr;
  padding: .5rem;
  align-items: center;
}
.bottom-pp-container{
  display: grid;
  align-items: center;
  justify-content: center;
}
.bottom-pp{
  border-radius: 40px;
  background-color: pink;
  width: 4rem;
  height: 4rem;
}

p{
  font-weight: bold;
}
h4{
  font-size: 1.3rem;
  font-weight: bold;
}

.butt-container{
  align-items: center;
  justify-items: center;
}
button{
  height: 2.5rem;
  width: 6.5rem;
  padding: 0 1rem;
  text-align: center;
  border-radius: 20px;
  background-color: #2691de;
  color: white;
  font-weight: bold;
}

.sidebar{
  grid-row: 1 /3;

  background-color: #2691de;
  color: white;
}

.sidebar-title{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}

ul,li{
  list-style: none;
  padding: 0;
}

ul{
  margin: 2.5rem .5rem;
  font-weight: 600;
}

li{
  margin: 1rem .5rem;
}

.main-content{
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.projects-container{
  grid-column: 1 /2;
  grid-row: 1 / 3;
  margin: 1rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 1.3rem;

}

.project-card{
  height: 200px;
  padding: 10px;
  border-left-style: solid;
  border-left-width: 10px;
  border-left-color: black;
}

.announcements-container{
  grid-column: 2 / 3;

}
.trending-container{
  grid-column: 2 / 4

}
